.idea/
.vscode/
.zed/
.venv/
venv/
env/
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
.installed.cfg
*.egg
dist/
build/
wheels/
share/python-wheels/
pip-wheel-metadata/
.ruff_cache/